name: Release Draft

on:
  workflow_dispatch:
  push:
    branches:
      - main
  release:
      types: [published]

permissions:
  contents: write

jobs:
  release_draft:
    runs-on: ubuntu-latest
    steps:
    - name: Release Draft
      uses: crs-k/release-draft@v0.6.7
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"